body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 30px;
}

select, input, button {
    padding: 8px;
    margin: 5px;
}

.box {
    background: white;
    padding: 20px;
    width: 460px;
    margin-top: 10px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

h3 {
    margin-top: 0;
}
